.bg-img {
  background-image: url(https://images.unsplash.com/photo-1522778119026-d647f0596c20?q=80&w=3456&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgba(0, 0, 0, .75);
  background-blend-mode: color;
  background-position: center;
  background-size: 100vw;
  color: white;
}

.scoreboard {
  background-color: rgba(0, 0, 255, .25);
  color: white;
  padding: 32px;
  border-radius: 16px;
}

body { 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: blue;
}

.container-fluid {
  min-height: 100vh;
}
#victoryBanner {
  text-align: center;
  margin-bottom: 32px;
}